body{
    background-color: silver;
}
h1{
    font-family: Arial;
    color: black;
    text-align : center;
    
    
}
img{
   
}

Data.Table{
    text-align: center;   
    text-align: left;
}

a{
     background-color: #f1f1f1;
     display: inline;
   list-style-type: none;
   margin: 20px;
   padding: 8px 8px 8px 16px;
   border-radius: 2px;
}